* {
	font-family: sans-serif;
}

.form-section {
	padding: 10vh 0vh;
}

.form-section form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5vh 1vh;
	font-family: Tahoma, Helvetica, sans-serif;
}

.form-group {
	width: 70%;
	margin: auto;
	text-align: center;
	margin-bottom: 3vh;
	display: flex;
	flex-direction: column;
	text-align: left;
	justify-content: space-around;
} 

.form-group label {
	margin-bottom: 10px;
	color: #1D628B;

}
.form-group input {
	border: none;
	--webkit-appreance: none;
	background-color: #ECF0F1;
	color: #1D628B;
	padding: 0 10px;
	height: 36px;
}

.form-group input:focus {
	outline: none;
}
.form-submit {
	margin: auto;
	width: 70%;
}

.forgot-password {
	width: 70%;
	text-align: right;
	padding-bottom: 10px;
}

.forgot-password a {
	color: #1D628B;
	text-decoration: none;
}
.forgot-password a:hover {
	text-decoration: underline;
}

.form-submit button {
	background-color: #00aa70;
	padding: 10px 10px;
	border-radius: 5px;
	border: none;
	color: #ffffff;
	display: block;
	width: 100%;
}

.form-submit button:hover {
	background-color: #00aa50;
}

.error {
	color: #f54747;
	padding-top: 4px;
}

.form-section .register, .form-section hr {
	width: 20%;
	margin: auto;
	margin-top: 20px;
}

.form-section hr {
	color: rgba(0,0,0,0.5);
}

.register a {
	display: block;
	padding: 10px;
	text-align: center;
	border: 0.5px solid rgba(0,0,0,0.5);
	border-bottom: 0.5px solid rgba(0,0,0,0.8);
	margin-top: 10px;
	text-decoration: none;
	color: black;
}

.register a:hover {
	color: #00aa50;
}

.register  .register-h2 {
	font-size: 12px;
	text-align: center;
}
